<h2>Login</h2>

<form action="" id="formLogin">
  <label for="">Usuario</label>
  <input type="email" name="email">


  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Iniciar Sesión</button>
  <button type="button" id="register">Registrate</button>
</form>


<a href="/auth/github">Entrar con Github</a>

<a href="/forgotPassword">Restaurar contraseña</a>

<script src="/js/login.js"></script>